img {
  height: 70px;
  width: 80px;
}

.header-margin {
  margin-top: 50px;
}

.done{
  color: green;
}


.noData{
  color: red;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.danger {
  border-color: red;
}